
<form method="POST" class="form-ajax-submit projects" rederect="/timetta/" action="./timetta/projects/{{id}}">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-20">
            <div class="list no-hairlines-md" style="margin-top: 15px;margin-bottom: 15px;">
                <ul>
                    <li class="item-content item-input" style="padding-left: 0px;">
                        <div class="item-inner" style="margin-left: 0px;">
                            <div class="item-input-wrap" style="display: flex;">
                                <div class="item-media">
                                    <img src="/static/img/jira.png" class="icon" style="width: 22px;">
                                  </div>
                                {{form.jira_tag}}
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input" style="padding-left: 0px;">
                        <div class="item-inner" style="margin-left: 0px;">
                            <div class="item-input-wrap simple" style="opacity: 1;display: flex;">
                                <div class="item-media">
                                    <img src="/static/img/yacalendar.png" class="icon" style="width: 18px;padding-left: 4px;">
                                  </div>
                                <input type="text" value="Митинги">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-40">
            <div class="list no-hairlines-md" style="margin-top: 15px;margin-bottom: 15px;">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                {{form.project_id}}
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap" style="display: flex;">
                                {{form.meeting_summary}}
                                <span class="icon link material-icons tooltip-mitting-summary" style="font-size: 18px;margin-top: 12px;">
                                    help
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-40">
            <div class="list no-hairlines-md" style="margin-top: 15px;margin-bottom: 15px;">
                <ul>
                    <li class="item-content item-input" >
                        <div class="item-inner">
                        <div class="item-input-wrap">
                            {{form.task_id}}
                            <span class="input-clear-button"></span>
                        </div>
                        </div>
                    </li>
                    <li class="item-content item-input" >
                        <div class="item-inner">
                        <div class="item-input-wrap">
                            {{form.meeting_task_id}}
                            <span class="input-clear-button"></span>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="border-style: dashed;border-width: 2px;border-color: #8080805c;">
        <div class="col" style="padding-left: 10px;">
            <div class="block-title" style="margin-top: 15px;">Проект</div>
            <div class="list links-list">
                <ul id="project_list" style="height: 230px;overflow: auto">
                    {% for project in project_list %}
                        <li><a href="#" class="get-task-list" project="{{project.id}}">{{project.project.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col" style="padding-right: 10px;">
            <div class="block-title" style="margin-top: 15px;">Задача</div>
            <div id="task_list" class="list task-list" style="height: 230px;overflow: auto;">
                <ul></ul>
            </div>
        </div>
    </div>
    <div class="row-100">
        <p class="segmented segmented-raised" style="
                margin-bottom: -10px;
                margin-left: -25px;
                margin-right: -25px;
                margin-top: 28px; ">
        <button class="button close" style="border-radius: 0;height: 45px;">Отмена</button>          
        <button class="button" type="submit" style="border-radius: 0;height: 45px;" type="submit">{% if id == 0 %}Создать{% else %}Сохранить{% endif %}</button>
        </p>
    </div>
</form>
