<div class="col-80 resizable">
  <div class="data-table data-table-init card" style="margin: 0;">
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th class="checkbox-cell" style="height: 47px;background-color: #f7f7f8;">
              <label class="checkbox">
                <input type="checkbox" />
                <i class="icon-checkbox"></i>
              </label>
            </th>
            <th class="label-cell" style="height: 47px;background-color: #f7f7f8;">Неделя</th>
            <th class="label-cell" style="height: 47px;background-color: #f7f7f8;">Проект</th>
            <th class="label-cell" style="height: 47px;background-color: #f7f7f8;">Задача</th>
            <th class="label-cell" style="height: 47px;background-color: #f7f7f8;">Дата</th>
            <th class="label-cell" style="height: 47px;background-color: #f7f7f8;">Время</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="checkbox-cell">
              <label class="checkbox">
                <input type="checkbox" />
                <i class="icon-checkbox"></i>
              </label>
            </td>
            <td class="label-cell">1 неделя 2023</td>
            <td class="label-cell">GLMRT</td>
            <td class="label-cell">GLMRT-1024</td>
            <td class="label-cell">22.06.2023</td>
            <td class="label-cell">1h</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <span class="resize-handler"></span>
</div>