{% load static %}
{% load custom_tags %}

<div class="page">
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner">
		  <div class="left">
            <a class="link" href="/jira/">
              <img src="/static/img/sync-logo.png" style="width: 60px;">
            </a>
          </div>
		  <div class="title" style="text-align: center;">Синхронизация задач Jira</div>
		  <div class="right">
            <div>
                <a class="link menu-home" href="#" {% if request.user.is_superuser %}superuser{% endif %}>
                    <span style="color: black;width: 100%;">{{ request.user.username }}</span>
                    <span class="material-icons link" style="color: black;opacity: 0.8;font-size: 36px;">account_circle</span>
                </a>
                </div>
          </div>
		</div>
	  </div>
      
	<!-- Контент -->
	<div class="page-content">
        <div class="row" style="margin-left: 8px;margin-right: 8px;">
            <div class="col">
                <div class="card">
                  <form method="POST" enctype="multipart/form-data" class="form-ajax-submit-onchange" action="./users/synchronization/{{request.user.id}}">
                      {% csrf_token %}
                      <div class="card-header">Автоматическая синхронизация
                        <label class="toggle toggle-init color-green">
                          {{ sync.synchronization }}
                          <span class="toggle-icon"></span>
                        </label>
                      </div>
                    </form>
                    <div class="card-content card-content-padding">
                        <div class="list">
                            <ul>
                              <li>
                                <div class="item-content">
                                  <div class="item-media">
                                    <form method="POST" class="form-ajax-submit-onchange" enctype="multipart/form-data" action="/profile/custom/filter/enable">
                                      {% csrf_token %}
                                      <label class="toggle toggle-init color-blue jira-flter">
                                        {{ jira.filters.custom.enable.user_filter_custom }}
                                        <span class="toggle-icon"></span>
                                      </label>
                                    </form>
                                  </div>
                                  <a class="item-link smart-select smart-select-init filter-global"  style="width: 100%;margin-left: 15px; {% if request.user.user_filter_custom %}display:none;{% endif %}" data-open-in="popup">
                                    {{ jira.filters.global.filter }}
                                    <div class="item-inner">
                                      <div class="item-title">Фильры <!-- i>{{request.user.user_filter_custom}}</i --></div>
                                    </div>
                                  </a>
                                  <a class="item-link smart-select smart-select-init filter-custom"  style="width: 100%;margin-left: 15px; {% if request.user.user_filter_custom %}{% else %}display:none;{% endif %}" data-open-in="popup">
                                    <form  method="POST" class="form-ajax-submit-onchange" enctype="multipart/form-data" action="/profile/custom/filter/list">
                                      {% csrf_token %}
                                      {{ jira.filters.custom.list.user_filter }}
                                      <div class="item-inner">
                                        <div class="item-title">Фильры <!-- i>{{request.user.user_filter_custom}}</i --></div>
                                      </div>
                                    </form>
                                  </a>
                                </div>
                              </li>
                              <form method="POST" class="form-ajax-submit-onchange" enctype="multipart/form-data" action="/profile/custom/task">
                                {% csrf_token %}
                                <li>
                                  <div class="item-content">
                                    <div class="item-media">
                                      <label class="toggle toggle-init color-blue jira-task">
                                        {{ jira.syncweektime.custom.synchronization_custom }}
                                        <span class="toggle-icon"></span>
                                      </label>
                                    </div>
                                    <a class="item-link smart-select smart-select-init task-week-custom"  style="width: 100%;margin-left: 15px; {% if request.user.synchronization_custom %}{% else %}display:none;{% endif %}" data-open-in="sheet">
                                      {{ jira.syncweektime.custom.synchronization_day_of_week}}
                                      <div class="item-inner">
                                        <div class="item-title">Дни недели</div>
                                      </div>
                                    </a>
                                    <div class="smart-select smart-select-init task-week-global" style="pointer-events: none;width: 100%;margin-left: 15px; {% if request.user.synchronization_custom %}display:none;{% endif %}" data-open-in="sheet">
                                      {{ jira.syncweektime.global.day_of_week}}
                                      <div class="item-inner">
                                        <div class="item-title">Дни недели</div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="item-content">
                                    <div class="item-media">
                                    </div>
                                    <a class="item-link smart-select smart-select-init task-time-custom"  style="width: 100%;margin-left: 15px; {% if request.user.synchronization_custom %}{% else %}display:none;{% endif %}" data-open-in="sheet">
                                      {{jira.syncweektime.custom.user_time}}
                                      <div class="item-inner">
                                        <div class="item-title">Время старта</div>
                                      </div>
                                    </a>
                                    <div class="smart-select smart-select-init task-time-global"  style="pointer-events: none;width: 100%;margin-left: 15px; {% if request.user.synchronization_custom %}display:none;{% endif %}" data-open-in="sheet">
                                      {{jira.syncweektime.global.time}}
                                      <div class="item-inner">
                                        <div class="item-title">Время старта</div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </form>
                            </ul>
                          </div>
                    </div>
                    <div class="card-footer">
                      <a href="#"></a>
                    </div>
                  </div>
                <!--div class="block block-strong no-padding" style="margin-top: 0px;margin-bottom: 0px;">
                    <div id="demo-calendar-inline-container"></div>
                  </div -->
            </div>
            <div class="col">
                <div class="card">
                    <form method="POST" class="form-ajax-submit-onchange" enctype="multipart/form-data" action="/profile/meetings/calendar/setting">
                      {% csrf_token %}
                      <div class="card-header">Яндекс календарь
                        <label class="toggle toggle-init color-green">
                          {{ meetings.synchronization_meetings }}
                          <span class="toggle-icon"></span>
                        </label>
                      </div>
                      <div class="card-content card-content-padding">Выгрузка митингов, встреч, совещаний из Яндекс календаря, и отправка в Timetta.</div>
                          <div class="list">
                            <ul>
                              <li class="item-content item-input">
                                <div class="item-inner" style="padding-bottom: 26px;">
                                  <div class="item-input-wrap">
                                    {{ meetings.synchronization_meetings_key }}
                                    <span class="input-clear-button"></span>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                      <div class="card-footer"></div>
                    </form>
                  </div>
            </div>
            <div class="col">
              <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="auto"
                data-centered-slides="true" class="swiper swiper-init demo-swiper demo-swiper-auto" style="height: 260px;">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="card" style="height: 240px;margin-left: 0px;margin-right: 0px;">
                        <div class="card-content card-content-padding">
                          <div class="block-title" style="font-weight: bolder;">Выборочная синхронизация</div>
                          <div class="block-header">Фунция для выполнения синхронизации в ручную, с возможносью выбора фильтров для сбора задач с Jira, и выбора задач которые будут отправлены в Timetta.</div>
                          <a href="/custom-sync/" class="col button button-small button-outline" style="width: max-content;margin: auto;margin-top: 25px;z-index: 1;background: aliceblue;">Выборочная синхронизации</a>
                          <img src="/static/img/5482719.png" style="position: absolute;top: 0;height: 100%;left: 25%;z-index: 0;opacity: 0.15;">
                        </div>
                      </div>
                    </div>
                  <div class="swiper-slide">
                    <div class="card" style="height: 240px;margin-left: 0px;margin-right: 0px;">
                      <div class="card-content card-content-padding">
                        <div class="block-title" style="font-weight: bolder;">Ресурсный план</div>
                        <div class="block-header">Фунция выводит ресурный на текущий месяц.</div>
                        <a href="/resurses/" class="col button button-small button-outline" style="width: max-content;margin: auto;margin-top: 70px;z-index: 1;background: aliceblue;">Ресурсный план</a>
                        <img src="/static/img/5482719.png" style="position: absolute;top: 0;height: 100%;left: 25%;z-index: 0;opacity: 0.15;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-100" style="height: 52%;position: fixed;width: 100%;">
            <div class="card data-table" style="height: 100%;margin-top: 0px;margin-right: 10px;margin-left: 10px;"><table>
                <thead>
                  <tr>
                    <th class="datetime-cell" style="width: 15%;">Дата и время запуска</th>
                    <th class="datetime-cell" style="width: 15%;">Дата и время завершения</th>
                    <th class="label-cell" style="width: 35%;">Задача</th>
                    <th class="label-cell" style="width: 20%;">Инициатор</th>
                    <th class="label-cell" style="width: 10%;">Статус</th>
                    <th class="actions-cell" style="width: 5%;"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for header in TaskResult %}
                    {% get_task_children header.task_id request.user.email as usertasks %}
                    {% for user in usertasks %}
                      {% get_task_children user.task_id request.user.email 'Timetta: Синхронизация по неделям' as projectasks %}
                      {% for task in projectasks %}
                        <!-- {{task.task_id}}: {{task.task_name}} -->
                        {% get_status_sync header.task_id request.user.username as status %}
                        <tr>
                          <td class="datetime-cell">{{ task.date_created }}</td>
                          <td class="datetime-cell">{{ task.date_done }}</td>
                          <td class="label-cell">{{ header.task_name }}</td>
                          <td class="label-cell">{{ header.task_kwargs|runuser }}</td>
                          <td class="label-cell">
                            <a href="#" id="{{task.task_id}}" class="badge item-link {{ status.status|statcolor }}" data-popup=".sync-{{task.task_id}}-popup">{{ status.status|rustatus }}</a>
                            {% if task.status == "FAILURE" %}
                              <div class="popup popup-sync-status sync-{{task.task_id}}-popup">
                                <div class="view">
                                  <div class="page">
                                    <div class="page-content">
                                      <input style="display: none;" type="text" name="task-status" value="{{status.status}}" />
                                      <div style="height:100%;width:100%;display:inline-block;" required="" id="id_json" class=""></div>
                                      <textarea id="id_json_textarea" name="json" required="" style="display: none" >{{status.result}}</textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          </td>
                          <td class="actions-cell">{%if task.status == 'FAILURE' %}{% else %}<a href="/worklog/{{header.task_id}}/profile" class="material-icons profile-link icon link hover-op worktask-details" style="display: block;opacity: 0.5;">subject</span>{% endif %}</td>
                        </tr>
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}  
                  <tr>
                    <td class="datetime-cell"></td>
                    <td class="datetime-cell"></td>
                    <td class="label-celll"></td>
                    <td class="label-cell"></td>
                    <td class="label-cell"></td>
                    <td class="label-cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
                        
</div>